.game {
  display: flex;
  flex-direction: column;
  width: 98vh;
  height: 98vh;
}
.boards {
  display: flex;
  flex-direction: row;
  flex: 10;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  height: 50%;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  flex: 1;
  margin: 1px;
}

.cell:focus {
  outline: 10px solid red;
}

.board-control .cell {
  background-color: transparent;
}

.cell:hover{
  background-color: gray;
}

body {
 background: url(http://s1.postimg.org/77o5mmiov/image.jpg);
 background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}

.startButton {
  cursor: pointer;
  display: block;
  appearance: none;
  border-radius: 0;
  background: green;
  border: 0;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: black;
}

.startButton:hover:not(:disabled) {
  box-shadow: 5px 5px 5px black;
}

.startButton:disabled {
  cursor: auto;
  background: salmon;
  opacity: 0.50;

}
